@media screen and (max-width: 480px) {
    .page-wrapper {
        header {
            .logo {
                .searchbox {
                    top: 11px;
                    width: 66%;
                    left: 4%;
                    input {
                        border-radius: 0.3rem;
                        border: $border;
                    }
                }
            }
        }
        section.top-tab {
            div.sort-pane {
                button {
                    font-size: 1rem;
                    font-weight: 700;
                }
                .sort-menu {
                    width: 55%;
                    font-weight: 520;
                }
            }
        }
        .main-content {
            .will-do {
                width: 90%;
            }
        }
        .floating-bottom-tab form.adding-form {
            width: 90%;
        }
    }
}